@import 'variables';

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  header {
    justify-content: flex-end;
  }

  main {
    flex-basis: 50%;
    margin: auto 0;
    padding: 0 5rem;
  }
}
