// Colors
$primary-color: #262a30;
$secondary-color: #21252b;
$accent-color: #ffe063;

$button-primary-bg-color: #ffe063;
$button-secondary-bg-color: #21252b;
$button-primary-text-color: #21252b;
$button-secondary-text-color: #ffffff;

$text-primary-color: #ffffff80;
$text-secondary-color: #ffffff;
$text-accent-color: #ffe063;

$success-color: #28a745;
$error-color: #dc3545;

// Fonts
$font-size-small: 0.75rem;
$font-size-medium: 1rem;
$font-size-large: 1.5rem;

// Layout
$header-height: 4.375rem;
$footer-height: 4.375rem;
