@import 'variables';

.search-form {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__input {
    background-color: $primary-color;
    border: solid $text-accent-color;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: $font-size-large;
    color: $text-secondary-color;
  }

  button {
    padding: 0.5rem;
  }
}
